Flow 1.json
[{"id":"f0c1e956.2e62f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3a76116.8423cee","type":"rpi-gpio out","z":"f0c1e956.2e62f8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":580,"wires":[]},{"id":"6fe83a44.b27a94","type":"debug","z":"f0c1e956.2e62f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":440,"wires":[]},{"id":"4d5f12e5.522d0c","type":"rpi-gpio in","z":"f0c1e956.2e62f8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":480,"wires":[["6fe83a44.b27a94","9c6ee65e.a3d908"]]},{"id":"9c6ee65e.a3d908","type":"switch","z":"f0c1e956.2e62f8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":600,"wires":[["1bb7b598.9b562a"],["53dd68b3.362ef8"]]},{"id":"1bb7b598.9b562a","type":"change","z":"f0c1e956.2e62f8","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["3a76116.8423cee"]]},{"id":"53dd68b3.362ef8","type":"change","z":"f0c1e956.2e62f8","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":620,"wires":[["3a76116.8423cee"]]}]