Flow 2.json
[{"id":"bebfca16.794f78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f2caaa9.5a8a66","type":"inject","z":"bebfca16.794f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["39fd5d0c.a859e2"]]},{"id":"39fd5d0c.a859e2","type":"function","z":"bebfca16.794f78","name":"Payload","func":"msg.headers={\n    deviceKey:\"CU0n8Ief02VXPeq2\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["670b4b84.624b64","884504ed.506f68"]]},{"id":"670b4b84.624b64","type":"http request","z":"bebfca16.794f78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DxB9yMQW/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":450,"y":240,"wires":[["46aefd3d.0fd7a4"]]},{"id":"46aefd3d.0fd7a4","type":"debug","z":"bebfca16.794f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]},{"id":"884504ed.506f68","type":"http request","z":"bebfca16.794f78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DxB9yMQW/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":440,"y":320,"wires":[["46aefd3d.0fd7a4"]]}]